<!-- <app-data-overview></app-data-overview> -->
<app-data-overview></app-data-overview>
<section>
    <div class="container mt-5">
        <div class="row g-3">
            <div class="line col-6">
                <div class="graph" id="divChart">
                    <canvas id="LineChart"></canvas>
                </div>
            </div>
            <div class="line col-6">
                <div class="graph" id="divChart">
                    <canvas id="BarChart"></canvas>
                </div>
            </div>
            <div class="line col-4">
                <div class="graph" id="divChart">
                    <canvas id="DoughnutChart"></canvas>
                </div>
            </div>
            <div class="col-4">
                <div class="graph" id="divChart">
                    <canvas id="DoughnutChart2"></canvas>
                </div>
            </div>
            <div class="line col-4">
                <div class="graph" id="divChart">
                    <canvas id="DoughnutChart3"></canvas>
                </div>
            </div>

            <!-- <div class="col">
                <iframe class="container mt-5" title="Monitoring_DashBoard" src="https://app.powerbi.com/view?r=eyJrIjoiYTNiNWM1MTMtNDdlMy00ZTM4LTk1YmMtYWQ0YjYwNTM4YmE4IiwidCI6IjZkNjI0ZDY0LTExOGEtNDg4NC1iZGMyLTlhM2VjMDU2M2JmNSJ9&pageName=ReportSectione16e9f52538b5c0cdd92" frameborder="0" allowFullScreen="true"></iframe>
            </div> -->
        </div>
    </div>
</section>


