section{
    padding-bottom: 2rem;
}
iframe{
    margin-left: 0%;
    height: 50rem;
    width: 80rem;
}

@media  screen and (min-width: 1450px) {

    iframe{
        margin-left: 0%;
        width: 150rem;
    }

}

.graph{
    border: 2px solid #2c3e50;
    border-radius: 1rem;
    color: #A5CC82;
    background-image: linear-gradient(130deg, #2980b9, #dedede, #2c3e50);
    opacity: 0.8;
    box-shadow: 2px 2px 2px 2px #54595e;
}

.graph:hover{
    opacity: 1;
    box-shadow: 2px 2px 2px 2px #00467F;
}

.row{
  border: 0px solid #A5CC82;
}
