
.form-control{
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    margin-left: 32%;
    color: #0f2988;
    background-color: transparent;
    border: 1px solid #0f2988;
}

.btn{
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    color: #A5CC82;
    border: 1px solid #0f2988;
    background-image: linear-gradient(130deg, #1e7260, #0f2988);
}
