form{
    margin-top: 4%;
    margin-bottom: 4%;
    // border: 2px solid #00467F;
    // border-radius: 1rem;
    // background-image: linear-gradient(130deg, #1e7260, #A5CC82);
    // background-image: linear-gradient(130deg, #1f997f, #688f45, #A5CC82);
}

// h1{
//     color: #00467F;
// }

.form-select{
    color: #050535;
}

.row{
  border: transparent;
}
// .form-label{
//   color: #A5CC82;
// }

// .form-control{
//     color: #00467F;
//     border: 2px solid #00467F;
// }

.bg{
    background-color: #050535;
    // background: linear-gradient(130deg, #050535, #0183da);
    color: #dedede;
}

.btn{
    width: 7rem;
    margin-left: 45%;
    // border: 1px solid #A5CC82;
    // color: #A5CC82;
    // background-image: linear-gradient(130deg, #1e7260, #0f2988);
    // opacity: 0.8;
}

.butt{
  width: 10rem;
  margin-left: 45%;
  border: 1px solid #2c3e50;
  color: #2c3e50;
  background-image: linear-gradient(130deg, #2980b9, #ffffff, #2c3e50);
  opacity: 0.8;
}

// .btn:hover{
//   opacity: 1;
// }

.butt:hover{
  opacity: 1;
}
