form{
    margin-top: 4%;
    margin-bottom: 15%;
    // border: 2px solid #00467F;
    // border-radius: 1rem;
    // background-image: linear-gradient(130deg, #1e7260, #7da35b);
}

// h1{
//     color: #00467F;
// }

// .form-select{
//   border: 2px solid #00467F;
// }

// .form-label{
//   color: #A5CC82;
// }

// .form-control{
//   border: 2px solid #00467F;
// }

.bg{
    background-color: #050535;
    // background: linear-gradient(130deg, #050535, #0183da);
    color: #dedede;
}

.btn{
    width: 7rem;
    margin-left: 45%;
    // border: 1px solid #A5CC82;
    // color: #A5CC82;
    // background-image: linear-gradient(130deg, #1e7260, #0f2988);
}

.remove{
  width: 7rem;
  margin-left: 45%;
  border: 1px solid #A5CC82;
  color: #A5CC82;
  background-image: linear-gradient(130deg, #1e7260, #eb0606);
}
