.container-fluid{
    padding-bottom: 40rem;
}

h1{
    color: #00467F;
}

h5{
    color: #8f4203;
}

.ul{
    list-style-type: none;
    padding: 0;
    background-color: linear-gradient(130deg, #1e7260, #050535);
    margin: 0.5rem;
    border-radius: 1rem;
}

.card{
    width: 75rem;
    // border: 2px solid #00467F;
    // color: #A5CC82;
    // border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // background-image: linear-gradient(130deg, #1f997f, #688f45, #7da35b);
    // opacity: 0.8;
}

.card:hover{
    // opacity: 1;
    // box-shadow: 1px 1px 1px 1px #00467F;
    background-image: linear-gradient(130deg, #2d82c7, #d62c2c);
}

.list-group{
    margin-bottom: 0.5rem;
}

.list-group-item{
    color: #00467F;
}

a:hover{
    cursor: pointer;
}

.row{
  border: 1px solid #00467F
}

.col-2{
  border: 1px solid #00467F
}

.col{
  border: 1px solid #00467F
}

.col-3{
  border: 1px solid #00467F
}

.book:hover{
    background: #0374a8;
}
.remove{
    color: #ff0000;
}
.remove:hover{
    background: #ff0000;
    color: #e68181;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
